/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

#cover-image {
  background: url('images/Chess.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
.cover-heading {
  font-size: 2rem;
  font-weight: 800;
  font-style: ;
}
.cover-text {
  font-size: 0.8rem;
  color: #787777;
  font-style: normal;
  font-weight: 800;
}
.cover-card {
  box-shadow: 2px 2px 10px black;
  margin: 0 auto;
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  max-width: 20rem;
  max-height: 80rem;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 130px;
  border-radius: 10px 10px;
}

.cover-card-block {
  opacity: 1
}
.forget {
  margin-top: 6px;
  letter-spacing: 0.5px;
  font-style: normal;
  font-size: 0.8rem;
  font-weight: 200;
  color: #787777;
}

.Box input[type="submit"] {
  -moz-user-select: none;
  background-color: black;
  background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 4px 4px;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  height: 39px;
  line-height: 37px;
  min-width: 270px;
  padding: 0 8px;
  text-align: center;
}

/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}

.profile-bio {
  font-size: 1.1rem;
}

.profile-statistics {
  color: #777777;
  font-weight: 300;
  display: block;
}

.profile-statistics-item {
  display: block;
  padding-right: 50px;
}

/*
 * Post
 */
.post-author {
  margin-bottom: 0px;

}

.post-author-fullname {
  font-weight: bold;
}

.post-author-user-details {
  margin-left: 10px;
  color: #777777;
}

/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

.post-author a {
  text-decoration: none;
  color: black;
}
.post-author a:hover {
  text-decoration: underline;
  color: black;
}
