*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(images/Background.png);
  color:black;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  background-color: white;
  padding:50px 18px;
  border-radius: 5px;
}
.container h1{
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
}
.container h2{
  text-align: center;
  margin-bottom: 30px;
  font-size: 0.9rem;
  color:gray;
  font-weight: 600;
}
.btn{
  cursor: pointer;
  width: 100%;
  background-color:black;
  padding:10px;
  border:0px;
  font-size: 17px;
  font-family: inherit;
  color:white;
  border-radius: 5px;
  margin-top: 10px;
}
.btn:focus{
  outline: 0;
}
.btn:active{
  transform: scale(0.98);
}
.container a{
  color: #c5a772;
}
.text{
  margin-top: 40px;
  text-align: center;
}
.form-control{
  width: 100%;
  margin: 20px 0 20px;
  position: relative;
}
.form-control input{
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid black;
  display: block;
  width:100%;
  padding:7px 0;
  font-size: 18px;
  color: black;
}
.form-control input:focus{
  outline: 0;
  border-bottom-color: gray;
}
.form-control input:valid{
  border-bottom-color: gray;
}
.form-control label{
  position:absolute;
  left:0;
  top:13px;
  font-size: 16px;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:valid + label,
.form-control input:focus + label{
  transform: translateY(-30px);
  color:gray;
}
.warning a{
  color:#AF444A;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
}
