{% extends 'base_content.html' %}
{% block content %}

<head>
  <meta content="text/html" charset="UTF-8">
  <title>Create Club</title>
</head>

<div class="container">
  <div class="row">
    <div class="col-12">
      <br></br><br></br>
      <h2>Create Club</h2>
      <form action="{% url 'create_club' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <br><br>
        <input type="submit" value="Create" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
