{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block body %}

<head>
  <meta name="viewport" content="wide=device-width, initial_scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../../static/homepage.css" />
  <title> homepage </title>
</head>

<body>
  <header>
    <a href='{% url 'home' %}' >
         <img src="../../static/images/logoko.png" width="90" height="80" class="logo">
       </a>
        {%if user.user_type == 0 %}
        <ul>
          <li><a href='{% url 'club_list' %}' style="text-decoration: none">CLUBS</a></li>
          <li><a href='{% url 'profile' %}' style="text-decoration: none">MY PROFILE</a></li>
        </ul>
        {% endif %}
        {%if user.user_type == 1 %}
        <ul>
         <li><a href='{% url 'club_list' %}' style="text-decoration: none">CLUBS</a></li>
         <li><a href='{% url 'user_list' %}' style="text-decoration: none">MY CLUB</a></li>
         <li><a href='{% url 'profile' %}' style="text-decoration: none">MY PROFILE</a></li>
        </ul>
        {% endif %}
        {%if user.user_type == 2 %}
        <ul>
          <li><a href='{% url 'club_list' %}' style="text-decoration: none">CLUBS</a></li>
          <li><a href='{% url 'applicant_list' %}' style="text-decoration: none">APPLICANTS</a></li>
          <li><a href='{% url 'user_list' %}' style="text-decoration: none">MY CLUB</a></li>
          <li><a href='{% url 'profile' %}' style="text-decoration: none">MY PROFILE</a></li>
        </ul>
        {% endif %}
        {%if user.user_type == 3 %}
        <ul>
        <li><a href='{% url 'club_list' %}' style="text-decoration: none">CLUBS</a></li>
        <li><a href='{% url 'applicant_list' %}' style="text-decoration: none">APPLICANTS</a></li>
        <li><a href='{% url 'user_list' %}' style="text-decoration: none">MY CLUB</a></li>
        <li><a href='{% url 'officers' %}' style="text-decoration: none">OWNERSHIP</a></li>
        <li><a href='{% url 'profile' %}' style="text-decoration: none">MY PROFILE</a></li>
        </ul>
        {% endif %}
    <a class="logout" href='{% url 'log_out' %}'><button>LOG OUT</button></a>
  </header>

  <section class="banner">
    <div class="content">
      <h2>Let's Play Together</h2>
      <p>Create a club to play with others</p>
      <br><br>
      <a href='{% url 'create_club' %}' class="btn">Create Club</a>
      <br><br>
      <p> Welcome, {{ user.full_name }}, You are a {{ user.get_user_type_display }} </p>
      <br><br>
      <p> Scroll down for more information <p>
      <br>
      <img src="../../static/images/Down Arrow.png" width="37" height="23" class="Down-Arrow">
    </div>
  </section>

  <section class="about">
    {%if user.user_type == 3 %}
    <p>You are a {{ user.get_user_type_display }}:</p>

      <ol style="color:#FFFFFF">
        <li>Owners can view and edit their profile</li>
        <li>Owners can view members and all details about them</li>
        <li>Owners can promote and demote members and officers in their club</li>
        <li>Owners can approve and unapprove applicants to the club</li>
        <li>Owners can transfer ownership to another officer</li>
        <li>Owners can view clubs on the website</li>
      </ol>
    {% endif %}
    {%if user.user_type == 2 %}
    <p>You are a {{ user.get_user_type_display }}:</p>
    <ul>
      <li>Officers can view and edit their profile</li>
      <li>Officers can view members and all details about them</li>
      <li>Officers can promote and demote members of their club</li>
      <li>Officers can approve and unapprove applicants to the club</li>
      <li>Officers can view clubs on the website</li>
    </ul>
    {% endif %}
    {%if user.user_type == 1 %}
    <p>You are a {{ user.get_user_type_display }}:</p>
    <ul>
      <li>Members can view and edit their profile</li>
      <li>Members can view other members with the website</li>
      <li>Members can view clubs on the website</li>
    </ul>
    {% endif %}
    {%if user.user_type == 0 %}
    <p>You are an {{ user.get_user_type_display }}:</p>
    <ul>
      <li>Applicants can edit their profile</li>
      <li>Applicants can view current clubs</li>
    </ul>
    {% endif %}

  <script type="text/javascript">
    window.addEventListener("scroll", function() {
      var header = document.querySelector("header");
      header.classList.toggle("sticky", window.scrollY > 0);
    })
  </script>

</body>

</html>
{% endblock %}
