{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block body %}
<head>
  <meta name="viewport" content="wide=device-width, initial_scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../../static/homepage.css" />
  <style type="text/css">
    a:link {color: white;}
    a:hover {color: gray;}
    a:active {color: gray;}
  </style>
  <title> homepage </title>
</head>

<body>
  <div class="header">
    <nav id="navbar">
      <img src="../../static/images/logo3.png" class="logo">
      <ul id="menu">
        <li><a href='{% url 'log_out' %}' style="text-decoration: none">LOG OUT</a></li>
        <li></li>
        <li></li>
        <li>COMPETITION</li>
        <li>CLUBS</li>
        <li>APPLICATION</li>
        <li><a href='{% url 'applicant_list' %}' style="text-decoration: none">Applicants</a></li>
        <li><a href='{% url 'members_and_officers_for_clubowner' %}' style="text-decoration: none">Club Users</a></li>
        <li><a href='{% url 'profile' %}' style="text-decoration: none">MY PROFILE</a></li>
        <li><a  <label for="clubs">Club:</label>

          <select name="clubs" id="clubs">
            <option
            {%if user.club == 'Kerbal'%}
             value="Kerbal">Kerbal
           {% endif %}</option>
            <option
            {%if user.club == 'Apollo'%}
             value="Apollo">Apollo
           {% endif %}</option>
            <option
            {%if user.club == 'Mercury'%}
             value="Mercury">Mercury
           {% endif %}</option>
            <option
            {%if user.club == 'Soyuz'%}
             value="Soyuz">Soyuz
           {% endif %}
          </option>
          </select>
<button type="button" onclick="location.href='{% url 'loadClub' %}'">Pick Club</button>
</a></li>
      </ul>
    </nav>
  </div>
  <p
  {%if user.club == 'FC2'%}
class="text">FC2 HOME PAGE
  <p
  {%elif user.club == 'INS'%}
class="text">INS HOME PAGE
  <p
  {%elif user.club == 'SEG'%}
  class="text">SEG HOME PAGE
  <p
  {%elif user.club == 'PEP'%}
  class="text">PEP HOME PAGE
  {% endif %}
  </p>
  <script>
    var navbar = document.getElementById("navbar");
    var menu = document.getElementById("menu");

    window.onscroll = function(){
      if (window.pageYOffset >= menu.offsetTop){
        navbar.classList.add("sticky");
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>
</body>

</html>
{% endblock %}
