{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Chess Club Members(For Officer):</h1>
      <br> <br>
      <table class="table">
        <th scope="col"> </th>
        <th scope="col">Full Name:</th>
        <th scope="col">Email:</th>
        <th scope="col">Position:</th>
        <th scope="col">Promotion/Demotion</th>
        {% for user in users %}
          <tr>
            <td>
              <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.email }}" class="rounded-circle" >
            </td>
            <td>{{ user.full_name }}</td>
            <td><a href="{% url 'show_user' user.id %}">{{ user.email }}</a></td>
            <td>{{ user.experience }}</td>
            <td><form action="{% url 'promotion'%}" method="POST">
              <input id="submit" type="button" value="Promote"  />
            </form></td>
            <td><form action="{% url 'demotion'%}" method="POST">
              <input id="submit" type="button" value="Demote" />
            </form></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
