{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Chess Club Members(Clubowner):</h1>
      <br> <br>
      <table class="table">
        <th scope="col"> </th>
        <th scope="col">Full Name:</th>
        <th scope="col">Email:</th>
        <th scope="col">Rank:</th>
        <th scope="col">Promote/ Demote:</th>
        {% for user in members_and_officers %}
          <tr>
            <td>
              <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.email }}" class="rounded-circle" >
            </td>
            <td>{{ user.full_name }}</td>
            <td><a href="{% url 'show_user' user.id %}">{{ user.email }}</a></td>
            <td>{{ user.get_user_type_display }}</td>
            <td><button type="button">Promote</button><button type="button">Demote</button></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
