{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Chess Club Members(For Member):</h1>
      <form action="{% url 'log_out' %}" method="post">
        {% csrf_token %}
        <button type="submit" value="log_out">
          Logout
        </button>
      </form>
      <br> <br>
      <table class="table">
        <th scope="col"> </th>
        <th scope="col">Full Name:</th>
        <th scope="col">Rank:</th>
        {% for user in members %}
        <tr>
          <td>
            <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.email }}" class="rounded-circle" >
          </td>
          <td><a href="{% url 'show_member' user.id %}">{{ user.full_name }}</a></td>
          <td>{{ user.get_user_type_display }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
</div>

{% endblock %}
