{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Chess Club Members(For Member):</h1>
      <br> <br>
      <table class="table">
        <th scope="col"> </th>
        <th scope="col">Full Name:</th>
        <th scope="col">Position:</th>
        {% for user in users %}
          <tr>
            <td>
              <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.email }}" class="rounded-circle" >
            </td>
            <td>{{ user.full_name }}
            <td>{{ user.experience}}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
