{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Chess Club Officers:</h1>
      <br> <br>
      <table class="table">
        <th scope="col"> </th>
        <th scope="col">Full Name:</th>
        <th scope="col">Email:</th>
        <th scope="col">Rank:</th>
        <th scope="col">Make Owner</th>
        {% for user in officers %}
          <tr>
            <td>
              <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.email }}" class="rounded-circle" >
            </td>
            <td>{{ user.full_name }}</td>
            <td><a href="{% url 'show_user' user.id %}">{{ user.email }}</a></td>
            <td>{{ user.get_user_type_display }}</td>
            <td><button type="button" onclick="location.href='{% url 'make_owner' user.id %}'">Make Owner</button></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
