{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <br><br>
      <br><br>
      <h1>Change password</h1>
      <form action="{% url 'password' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <div class="warning">
          <p><font color="#AF444A" size="3" weight=500>
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% else %}
            <p>&nbsp</p>
            {% endif %}
          </font></p>
        </div>
        <input type="submit" value="Change password" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
