{% extends 'base_content.html' %}
{% block content %}

<head>
  <meta content="text/html" charset="UTF-8">
  <title>profile</title>
</head>

<div class="container">
  <div class="row">
    <div class="col-12">
      <br><br><br>
      <div class="warning">
        <p>
          <font color="#AF444A" size="3" weight=500>
            {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% else %}
            <p>&nbsp</p>
            {% endif %}
          </font>
        </p>
      </div>
      <h2>Edit profile</h2>
      <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <br>
        <input type="submit" value="Update" class="btn btn-primary">
        &nbsp<a class="btn btn-primary" href="{% url 'password' %}">
          <button1>Edit Password</button1>
        </a>
        <br><br>
      </form>
    </div>
  </div>
</div>
{% endblock %}
