{% extends 'base_content.html' %}
{% block content %}

<head>
  <meta content="text/html" charset="UTF-8">
  <title>profile</title>
</head>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Edit profile</h2>
      <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Update" class="btn btn-primary">&nbsp<a class="btn btn-primary" href="{% url 'password' %}"><button1>Edit Password</button1></a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
