<div class="row content">
  <div class="col-12">
    <img src="{{ user.gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle profile-image" >
    <div class="profile-text">
      <h3 class="profile-title">{{ user.full_name }}</h3>

    </div>
  </div>
</div>
<h4>Bio:</h4>
<div class="row content">
  <div class="col-12">
    <p class="profile-bio">{{ user.bio }}</p>
    <h4>Experience Level:</h4>
<div class="row content">
    <div class="col-12">
    <p class="profile-bio">{{ user.experience }}</p>
    <h4>Email Address:</h4>
<div class="row content">
    <div class="col-12">
    <p class="profile-bio">{{ user.email }}</p>
    <h4>Personal Statement:</h4>
<div class="row content">
    <div class="col-12">
    <p class="profile-bio">{{ user.statement }}</p>
  </div>
</div>
